.font {
  font-family: "Oswald", sans-serif;
  font-size: large;
  font-style: bold;
  font-weight: 500;
}
.font2 {
  font-family: myfont2;
}

.font3 {
  font-family: myfont;
  font-size: 20px;
  font-weight: 200;
}

@font-face {
  font-family: myfont;
  src: url(../src/font/Gagalin-Regular.otf);
}
@font-face {
  font-family: myfont2;
  src: url(../src/font/FjallaOne-Regular.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: aqua;
  height: 100%;
}

@font-face {
  font-family: myfont3;
  src: url(../src/font/YsabeauInfant-VariableFont_wght.ttf);
}

.d1 {
  color: #1f9542;
  font-family: myfont;
  font-size: 50px;
}

.something {
  top: 0;
  position: sticky;
}

.profile-card .card {
  float: left;
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.profile-card .card-body {
  position: relative;
}
.profile-card .profile {
  border-radius: 50%;
  position: absolute;
  top: -62px;
  left: 50%;
  width: 100px;
  border: 0px solid rgba(255, 255, 255, 1);
  margin-left: -50px;
}
.profile-card .card-img-block {
  position: relative;
}

.profile-card .card-img-block:hover > .info-box {
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.profile-card h5 {
  font-weight: 600;

  color: rgb(119, 182, 205);
  font-family: myfont;
}
.profile-card .card-text {
  font-weight: 300;
  font-size: 15px;
}
.profile-card .icon-block {
  float: left;
  width: 100%;
}
.profile-card .icon-block a {
  text-decoration: none;
}
.profile-card i {
  display: inline-block;
  font-size: 16px;
  color: #cfddd3;
  text-align: center;
  border: 1px solid #cfddd3;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}
.profile-card i:hover {
  background-color: #cfddd3;
  color: #2e2828;
}

.vb {
  display: none;
  margin-top: 500px;
}
.ve {
  display: none;
}
.vword:hover {
  filter: brightness(0.98);
}
.mt5 {
  margin-top: 30%;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.card-text {
  font-family: myfont2;
}
.card-link {
  text-decoration: none;
  font-family: myfont2;
}
.main {
  min-height: 100vh;
  transition: filter 0ms ease-in-out 300ms;
}
.popup {
  margin-top: 100px;
  position: fixed;
  top: -300%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: -25px;
  transition: top 0ms ease-in-out 300ms, opacity 300ms ease-in-out,
    margin-top 300ms ease-in-out;
}

.popup > * {
  margin: 15px 0px;
}
.popup .close-btn {
  position: fixed;
  top: -5px;
  right: 10px;
  width: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}
body.active-popup {
  overflow: auto;
}
body.active-popup .mai {
  filter: blur(10px);
}
body.active-popup .popup {
  top: 50%;
  opacity: 1;
  margin-top: 0px;
  transition: top 0ms ease-in-out 0ms, opacity 300ms ease-in-out,
    margin-top 300ms ease-in-out;
}
.card-title {
  font-family: myfont;
}
#title {
  font-family: myfont;
  color: #fff;
}
#replace-me {
  font-family: myfont2;
}

.blur-filter {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
}

@media only screen and (max-width: 820px) {
  .d1 {
    display: none;
  }
  .venom {
    display: none;
  }
  .ve {
    display: block;
  }
  .vb {
    margin-top: 500px;
    display: block;
    filter: brightness(0.98);
  }
  .vb:hover {
    filter: grayscale(0);
  }
}
